
.box1 {border-radius: 20px;
    /* background-color: rgb(213, 23, 191); */
    /* border-color: white; */
    border: 10PX solid rgb(115, 0, 128);
    width: 500px;
    height:520px;
}   
    .box1 h1{
        text-align: center;
    }
    button {
        width: 200px;
        padding: 10px;
    }


    input{
        text-align:center;
        border: none;
        margin: auto;
        width: 80%;
        border-bottom: 2px solid rgb(126, 126, 126);
    }