@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root {
    --color-black: #21243D;
    --color-white: #fff;
    --color-primary: #FF6464;
    --color-secondary: #EDF7FA;
}

html {
    font-family: "Heebo", sans-serif;
}

/* header section */

header {
    /* background-color: aquamarine; */
    padding: 10px;
}

header .container {
    width: 90%;
    margin: auto;
}

nav {
    /* background-color: beige; */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;

    justify-content: end;
}

a {
    text-decoration: none;
}

header nav a {
    color: var(--color-black);
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;

}

/* hero section */

main .container {
    width: 80%;
    margin: auto;
}

.hero {
    padding-top: 100px;
}

.hero .container .row {

    display: flex;
    background-color: #ec9c9c;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .row {
    background-color: whitesmoke;
    /* width: 200px; */
    /* height: 65px; */
    border: 1px solid;
    overflow: visible;
}
.left{
    background-color: whitesmoke;
    margin: auto;
    padding:10px;
    width: 50%;
}
.right{
    background-color: whitesmoke;
    width: 50%;
    
    border: 1px solid;
    overflow: visible;
}
.right img{
    margin-left: 450px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: left 70%;
}
button{
    background-color: red;
}
.section1{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    text-align:left;
    padding: right;
    }
.asaxi1 img{
    background-color: whitesmoke;
    margin-left: 50px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-right: 50%;
    
}
.asaxi2 img{
    background-color: whitesmoke;
    margin-left: 50px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-right:50%;
}
.asaxi3 img{
    background-color: whitesmoke;
    margin-left: 50px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-right: 50%;
}
.icons{
    text-align: center;

}
i{
    margin: 25px;
    font-size: 50px;
}
.asaxi1{
    margin-left: 80px;
}
.asaxi2{
    margin-left: 80px;
}
.asaxi3{
    margin-left:80px;
}
h1{
    margin-left: 80px;
}